import(data.table)
importFrom('plyr', laply, llply)
importFrom('stats', relevel)
import(devFunc)
export(checkDT)
export(isFactorDT)
export(isNumericDT)
export(isIntegerDT)
export(isLogicalDT)
export(isCharacterDT)
export(asFactorDT)
export(asNumericDT)
export(asIntegerDT)
export(asLogicalDT)
export(asCharacterDT)
export(detectWeirdLevelNamesDT)
export(extractLevelDT)
export(extractRefLevelDT)
export(setRefLevelDT)
export(removeEmptyLevelsDT)
export(lowFreqLevel2MissingDT)
export(rbindDT)
export(sortByRowIndexDT)
